.tabs {
  width: 100%;
  display: flex;
  background: white;
  height: calc(100vh - 117px);
}
.tabs > ul {
  list-style-type: none;
  padding: 0;
  flex-basis: 15%;
  height: 100%;
  border-right: solid 1px #e0e0e5;
  text-align: center;
}
.tabs > ul li {
  display: block;
  text-align: left;
}
.tabs > ul li button {
  background:none;
  border: none;
  font-size: 16px;
  display: block;
  width: 100%;
  text-decoration: none;
  background: white;
  padding: 1rem 2.3rem;
  color: #333;
  transition: all 0.2s ease-in-out;
  text-align: left;
}
.tabs > ul li button.active {
  background: var(--darkBlue);
  color: white;
}
.tabs > ul li button:hover:not(.active) {
  color: var(--darkBlue);
}
.tabs section {
  padding: 0 50;
  display: none;
}
.tabs section.active {
  display: block;
}

#tab-1, #tab-2, #tab-3{
  flex-basis: 90%;
  background-color:var(--backgroundColor);
  height: 100%;
}

#tab-1, #tab-3 {
  overflow: scroll; 
}

#settings-container {
  margin: 10 0 15 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

#settings-left {
  flex-basis: 60%;
  position: relative;
  text-align: left;
  padding: 15 25 10 0;
}
#settings-right {
  flex-basis: 40%;
  position: relative;
  text-align: left;
  padding: 15 0 10 25;
}

#item-left {
  position: relative;
}

#item-right {
  position: relative;
}

.side-by-side {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

#email, #enrol-date, #student-class, #first-name, #last-name {
  margin-bottom: 25px;
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid var(--lightBorder);
  font-size: 1rem;
  line-height: 2;
  padding: 0.375rem 1.25rem;
}

#enrol-date {
  width: 60%;
}

#first-name {
  width: 90%;
}

#downpayment {
  margin-bottom: 25px;
  width: calc(100% - 36px);
  border-radius: 0 0.25rem 0.25rem 0;
  border: 1px solid var(--lightBorder);
  font-size: 1rem;
  line-height: 2;
  padding: 0.375rem 1.25rem;
}

.student-list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: solid 1px var(--lightBorder);
  border-radius: 5px;
  justify-content: space-around;
  padding: 25px 0;
  align-items: center;
  text-align: left;
}

.student-list-item p {
  margin: 0px;
  font-size: 15px;
}

#student-list .student-link {
  padding: 0px;
  border: none;
}

.student-list-title p{
  font-size: 16px;
  color: rgb(178, 179, 189);
  margin: 0;
}

.student-list-item1 {
  flex-basis: 8%;
}

.student-list-item2 {
  flex-basis: 22%;
}

.student-list-item3 {
  flex-basis: 22%;
}

.student-list-item4 {
  flex-basis: 16%;
}