
body {
  font-family: Arial, serif;
  text-align: center;
  color: #343a40;
  font-size: 22px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 48px;
}

p {
  margin-top: 80px;
}

button {
  margin-top: 40px;
}

.page-header {
  background-color: #00bda5;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #ffffff;
}

#image img {
  height: 200px;
  margin-top: 60px;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#login-button{
  margin-top:0px;
  border-radius: 10px;
  border: solid black 1px;
  vertical-align: middle;
}

/* start of side panel css */
.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: auto;
  top: 20px;
  right: 0;
  background-color: #aaa;
  overflow-x: hidden;
  transition: 0.5s;
  padding-bottom: 20px;
  padding-top: 60px;
}

.sidepanel p {
  padding: 8px;
  text-decoration: none;
  font-size: 18px;
  color: #111;
  display: block;
  transition: 0.3s;
  margin-top:5px;
}

.sidepanel button {
  margin-top: 0px;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}
/* end of side panel css */
