<html lang="en">

<head>
  <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <% include ../helpers/navbar %>
  </div>
  <div style="display: flex; justify-content: center; align-items: center; height: 85%;">
    <div style="display: block; height: 36px;">
      <img style="float:left; height: 100%; width: auto; padding: 5 0 5 0; margin-right: 10px;"
        src="/images/exclamation.png">
      <h2 style="float:right; color: #707070; margin: 0px;">Coming Soon!</h2>
    </div>
  </div>

</body>

</html>