<html lang="en">

<head>
  <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <% include ../helpers/navbar %>
  </div>

  <div class="row-home">
    <div class="column-home column-left-home">
      <h4>Notification Center</h4>
      <div id="notification-center-wrapper">
        <div id="notification-center">
        </div>
        <div style="text-align: center;">
          <button id="show-more-notifications" onclick="updateNotifications()">Show More &nbsp;&nbsp;
            <i class="fas fa-chevron-down"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="column-home column-right-home">
      <h4>Email Settings</h4>
      <div id="email-settings-wrapper">
        <div id="email-settings">
        </div>
        <div style="text-align: center;">
          <button id="add-new-email-button" onclick="showAddEmail()"><i class="far fa-plus-square"></i></button>
        </div>
      </div>
      <div>
        <form id="add-email-form">
          <p>Days</p>
          <div style="display: inline-block; width: 100%; margin-bottom: 16px;">
            <div style="float: left; width: 50%">
              <input type="number" min="0" id="days-to-email" placeholder="2" required>
            </div>
            <div id="email-radio-buttons">
              <input type="radio" id="days-before" name="when" value="before" required>
              <label for="before">Before</label><br>
              <input type="radio" id="days-after" name="when" value="after" required>
              <label id="days-after-label" for="after">After</label>
            </div>
          </div>
          <button type="button" onclick="addNewEmail()" id="add-email-submit">Submit</button>
          <button type="button" id="cancel-email-add" onclick="cancelAddEmail()">Cancel</button>
        </form>
      </div>

    </div>
  </div>

</body>

</html>