<html lang="en">

<head>
  <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <% include ../helpers/navbar %>
  </div>

  <div class="row-home">
    <div class="column-home column-left-home">
      <h4>Notification Center</h4>
      <div id="notification-center-wrapper">
        <div id="notification-center">
        </div>
        <div style="text-align: center;">
          <button id="show-more-notifications" onclick="updateNotifications()">Show More &nbsp;&nbsp;
            <i class="fas fa-chevron-down"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="column-home column-right-home">
      

    </div>
  </div>

</body>

</html>