<html lang="en">

<head>
    <% include ../helpers/head %>
</head>

<body>
    <div style="width: 100vw; height: 100vh; text-align:center; padding-top: calc(50vh - 95px)">
        <div style="margin:auto; text-align: center;">
            <i class="fas fa-check" style="font-size:18px; color: #89c550;"></i>
            <h2>Registration Form Submitted!</h2>
            <p style="margin-bottom: 60px;">We will email you shortly with the completed forms to sign.</p>
            <a id="registration-button-home" href="/">Back Home</a>
        </div>
    </div>
</body>

</html>