<html lang="en">

<head>
  <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <main>
    <div class="page-header">
      <% include ../helpers/navbar %>
    </div>
    <div class="row">
      <div class="column column-left">
        <h4 id="add-new-student">Add Student</h4>
        <form id="add-student-form" onSubmit="handleAddStudentSubmit()" action="#">
          <p>First Name</p>
          <input id="first-name" placeholder="John" required>
          <p>Last Name</p>
          <input id="last-name" placeholder="Doe" required></input><br>
          <p>Email</p>
          <input id="email" placeholder="john@doe.com" required></input><br>
          <p>Enrol Date</p>
          <input id="enrol-date" type="date" required></input><br>
          <button id="add-student-submit">Submit</button>
        </form>
      </div>
      <div class="column column-right">

        <div class="search-wrapper">
          <div class="search-container">
            <form id="search-student" onSubmit="return false" class="search-form form">
              <label>
                <span class="screen-reader-text">Search for...</span>
                <input type="search" class="search-field" placeholder="Search" value="" name="s" title="" />
              </label>
              <input type="submit" class="search-submit search-button" value="&#xf002" />
            </form>
          </div>
        </div>

        <div id="student-list"></div>
      </div>
    </div>
  </main>

  <div class="cd-panel cd-panel--from-left js-cd-panel-main">
    <header class="cd-panel__header">
      <h3 id="student-name"></h3>
      <a onclick="closeStudentTab()" class="cd-panel__close js-cd-close">Close</a>
    </header>
    <div class="cd-panel__container">
      <div class="cd-panel__content">
        <h4>Student Info</h4>
        <div id="student-info">
          <p>Email</p>
          <div class="side-by-side">
            <div style="display:inline;">
              <input type="text" id="student-email" disabled="true"></input>
            </div>
            <div style="display:inline;">
              <img id="manual-email" src="/images/message.png" onClick="manualEmail()">
            </div>
          </div>
          <p>Date Enrolled</p>
          <div class="side-by-side">
            <input type="date" id="student-enrolDate" disabled="true"></input>
          </div>
          <button id="edit-student" onClick="editStudent()">Edit Info</button>
          <button id="cancel-edit" onClick="cancelEdit()" style="visibility: hidden">Cancel</button>
          <button id="save-edit" onClick="saveEdit()" style="visibility: hidden">Save</button>
        </div>

        <h4>Upcoming Payments</h4>
        <div id="payment-info">
          <p>Date due</p>
          <div class="side-by-side">
            <input type="date" id="student-nextPayment" disabled="true"></input>
          </div>
          <button id="made-payment" onClick="madePayment()">Mark As Paid</button>
        </div>

        <h4>Payment History</h4>
        <div id="payment-history">
          <p id="history-default">No payments yet.</p>
        </div>
      </div> <!-- cd-panel__content -->
    </div> <!-- cd-panel__container -->
  </div> <!-- cd-panel -->

</body>

</html>