<html lang="en">

<head>
  <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <% include ../helpers/navbar %>

    <h1>Students</h1>
  </div>
<br><br>
  <div class="row">
    <div class="column">
      <h3>Add New Student</h3><br>
      <form onSubmit="handleAddStudentSubmit()" action="#">
        First Name<br>
        <input id="first-name" placeholder="John"><br>
        Last Name<br>
        <input id="last-name" placeholder="Doe"></input><br>
        Email<br>
        <input id="email" placeholder="john@doe.com"></input><br>
        Enrol Date<br>
        <input id="enrol-date" type="date"></input><br>
        <button>Submit</button>
      </form>
    </div>
    <div class="column">
      <h3>Student List</h3><br>
      <div id="student-list"></div>
    </div>
  </div>

  <div id="studentTab" class="sidepanel">
    <a href="javascript:void(0)" class="closebtn" onclick="closeStudentTab()">×</a>
    <h4 id="student-name"></h4>
    <p id="student-email"></p>
    <p id="student-enrolDate"></p>
    <p id="student-paid"></p>
    <button id="edit-student" onClick="editStudent()">Edit</button>
  </div>



</body>

</html>