<html lang="en">

<head>
  <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <main>
    <div class="page-header">
      <% include ../helpers/navbar %>
    </div>
    <div class="row">
      <div class="column column-left">
        <h4 id="add-new-student">Add Student</h4>
        <form id="add-student-form" onSubmit="handleAddStudentSubmit()" action="#">
          <label for="first-name">First Name</label><br>
          <input id="first-name" placeholder="John" required><br>
          <label for="last-name">Last Name</label><br>
          <input id="last-name" placeholder="Doe" required><br>
          <label for="email">Email</label><br>
          <input id="email" placeholder="john.doe@gmail.com" required><br>
          <label for="enrol-date">Registration Date</label><br>
          <input id="enrol-date" type="date" placeholder="yyyy-mm-dd" required><br>
          <div style="display: inline-block; width: 70%;">
            <div style="float: left; width: 65%">
              <label for="tuition-input">Tuition Fee</label><br>
              <span id="dollar-sign">$</span><input id="tuition-input" type="number" min="0" placeholder="2750"
                required>
            </div>
            <div style="float: left; width: 35%">
              <label for="tuition-months">Months</label><br>
              <input type="number" id="tuition-months" min="0" placeholder="4" required>
            </div>
          </div><br>
          <label for="downpayment">Paid To Date</label><br>
          <span id="dollar-sign">$</span><input id="downpayment" type="number" min="0" placeholder="500" required><br>
          <label for="student-class">Class</label><br>
          <select id="student-class" name="student-class">
            <option value="PSW">Personal Support Worker</option>
            <option value="PSWBP">PSW Bridging Program</option>
            <option value="FSW">Food Service Worker</option>
            <option value="DSW">Developmental Services Worker</option>
          </select><br>
          <button id="add-student-submit">Submit</button>
        </form>
      </div>
      <div class="column column-right">
        <div id="filter-wrapper">
          <div id="filters">
            <form style="margin: 0px;">
              <label for="filter-class">Filter By Class</label><br>
              <select id="filter-class" name="filter-class">
                <option value="PSW">All</option>
                <option value="PSW">Personal Support Worker</option>
                <option value="PSWBP">PSW Bridging Program</option>
                <option value="FSW">Food Service Worker</option>
                <option value="DSW">Developmental Services Worker</option>
              </select>
            </form>
          </div>
          <div class="search-wrapper">
            <div class="search-container">
              <form id="search-student" onSubmit="return false" class="search-form form">
                <label style="width:100%">
                  <span class="screen-reader-text">Search</span>
                  <input type="search" class="search-field" placeholder="Search" value="" name="s" title="" />
                </label>
                <input type="submit" class="search-submit search-button" value="&#xf002" />
              </form>
            </div>
          </div>
        </div>

        <div id="student-list"></div>
      </div>
    </div>
  </main>

  <div class="cd-panel cd-panel--from-left js-cd-panel-main">
    <header class="cd-panel__header">
      <span title="Delete Student"><i class="far fa-trash-alt" onclick="deleteStudent()"></i></span>
      <h3 id="student-name"></h3>
      <a onclick="closeStudentTab()" class="cd-panel__close js-cd-close">Close</a>
    </header>
    <div class="cd-panel__container">
      <div class="cd-panel__content">
        <h4>Student Info</h4>
        <div id="student-info">
          <label for="student-email">Email</label>
          <div class="margin-med">
            <div style="display:inline;">
              <input type="text" id="student-email" disabled="true">
            </div>
            <div style="display:inline; vertical-align: middle;">
              <span title="Email Student"><a onclick="manualEmail()"><i class="far fa-envelope"></i></a></span>
            </div>
          </div>
          <label for="student-startDate">Registration Date</label>
          <div class="margin-med">
            <input type="date" id="student-startDate" onchange="enrolChange()" disabled="true">
          </div>
          <div class="margin-med">
            <label for="student-tuition">Tuition</label><br>
            <span id="dollar-sign">$</span><input id="student-tuition" type="number" disabled="true" required><br>
          </div>
          <div class="" style="width:100%;">
            <div style="display: inline-block; width: 218px;">
              <label for="tuition-remaining">Remaining Balance</label><br>
              <span id="dollar-sign">$</span><input id="tuition-remaining" type="number" disabled="true"><br>
            </div>
            <div style="display: inline-block; width: 100px; margin-left:15px;">
              <label for="student-monthsLeft">Months</label><br>
              <input id="student-monthsLeft" type="number" disabled="true" required><br>
            </div>
          </div>
          <span title="Edit Student"><i class="far fa-edit" id="edit-student" onclick="editStudent()"></i></span>
          <span title="Save Edit"><i class="far fa-check-circle" id="save-edit" onclick="saveEdit()"
              style="visibility: hidden"></i></span>
          <span title="Cancel Edit"><i class="far fa-window-close" id="cancel-edit" onclick="cancelEdit()"
              style="visibility: hidden"></i></span>
        </div>

        <h4>Upcoming Payments</h4>
        <div id="payment-info">
          <label for="student-amountDue">Amount Due</label>
          <div class="margin-med">
            <span id="dollar-sign">$</span><input id="student-amountDue" type="number" disabled="true">
          </div>
          <label for="student-nextPayment">Due Date</label>
          <div class="margin-med">
            <div style="display:inline;">
              <input type="date" id="student-nextPayment" onchange="nextPaymentChange()" disabled="true">
            </div>
            <div id="days-until-due" style="display:inline;">
            </div>
          </div>
          <div class="log-payment" onclick="openLogPayment()">
            <div class="from">
              <div class="from-contents">
                <div class="log-payment-label">LOG PAYMENT</div>
              </div>
            </div>
            <div class="to">
              <div class="to-contents">
                <div class="top">
                  <div class="avatar-large me"></div>
                  <div class="name-large">LOG PAYMENT</div>
                  <div class="x-touch"
                    onclick="document.querySelector('.log-payment').classList.remove('expand');event.stopPropagation();">
                    <div class="x">
                      <div class="line1"></div>
                      <div class="line2"></div>
                    </div>
                  </div>
                </div>
                <div class="bottom">
                  <form id="add-payment-form" onsubmit="studentTabPayment();return false">
                    <label for="payment-input">Amount</label>
                    <div class="margin-med">
                    <span id="dollar-sign">$</span><input id="payment-input" type="number" min="0" placeholder="500"
                      required>
                    </div>
                    <label for="payment-date">Payment Date</label><br>
                    <input id="payment-date" type="date" placeholder="yyyy-mm-dd" required><br>
                    <button id="add-payment-submit">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h4>Payment History</h4>
        <div id="payment-history">
        </div>
      </div> <!-- cd-panel__content -->
    </div> <!-- cd-panel__container -->
  </div> <!-- cd-panel -->
  <span class="close-pane" onclick="closeStudentTab()"></span>

</body>

</html>