<html lang="en">

<head>
  <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <main>
  <div class="page-header">
    <% include ../helpers/navbar %>
  </div>
  <br><br>
  <div class="row">
    <div class="column column-left">
      <h2 id="add-new-student">Add New Student</h2>
      <form id="add-student-form" onSubmit="handleAddStudentSubmit()" action="#">
        <p>First Name</p>
        <input id="first-name" placeholder="John">
        <p>Last Name</p>
        <input id="last-name" placeholder="Doe"></input><br>
        <p>Email</p>
        <input id="email" placeholder="john@doe.com"></input><br>
        <p>Enrol Date</p>
        <input id="enrol-date" type="date"></input><br>
        <button id="add-student-submit">Submit</button>
      </form>
    </div>
    <div class="column column-right">
      <h1>Student List</h1>
      <div id="student-list"></div>
    </div>
  </div>
</main>

  <div class="cd-panel cd-panel--from-left js-cd-panel-main">
    <header class="cd-panel__header">
      <h3 id="student-name"></h3>
      <a onclick="closeStudentTab()" class="cd-panel__close js-cd-close">Close</a>
    </header>

    <div class="cd-panel__container">
      <div class="cd-panel__content">
        <p>Email: <span id="student-email"></span></p>
        <input type="date" id="student-enrolDate" readonly="true"></input><br>
        <input type="date" id="student-nextPayment" readonly="true"></input>
        <p>Paid: <span id="student-paid"></span></p>
        <button id="edit-student" onClick="editStudent()">Edit</button>
        <button id="cancel-edit" onClick="cancelEdit()" style="visibility: hidden">Cancel</button>
        <button id="save-edit" onClick="saveEdit()" style="visibility: hidden">Save</button>
      </div> <!-- cd-panel__content -->
    </div> <!-- cd-panel__container -->
  </div> <!-- cd-panel -->

</body>

</html>