<meta charset="UTF-8">
<title>Base Web App</title>


<!-- First we import our css files -->

<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

<!-- Google font CSS -->
<link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Inter" rel="stylesheet" >

<!-- this app's own css -->
<link rel="stylesheet" type="text/css" href="css/main.css" />



<!-- Next import js files -->

<!-- first we import jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- then bootstrap -->
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
    var apiKey = "<%= process.env.API_KEY %>";
</script>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-database.js"></script>

<!-- import email server -->
<script src="https://smtpjs.com/v3/smtp.js"></script>

<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "<%= process.env.FIREBASE_API_KEY %>",
        authDomain: "peak-college.firebaseapp.com",
        databaseURL: "https://peak-college-default-rtdb.firebaseio.com",
        projectId: "peak-college",
        storageBucket: "peak-college.appspot.com",
        messagingSenderId: "619539747172",
        appId: "1:619539747172:web:6715729d16085dd3ba2a71"
    };
    // Initialize Firebase
    if (!firebase.apps.length) {
        firebase.initializeApp(firebaseConfig);
    } else {
        firebase.app(); // if already initialized, use that one
    }
</script>

<!-- then our app's own js file -->
<script src="js/main.js"></script>