<div class="grid">
    <div class="grid-item grid-item-left">
        <a href="/"><img id="site-logo" src="/images/PEAK-Logo-Black-Green.png"></a>
    </div>

    <div class="grid-item grid-item-middle">
        <div style="text-align:right; padding:36.5 0; margin-right: 28px">
            <h5 style="color:var(--darkBlue); margin:0;">ADMIN PORTAL</h5>
        </div>
        <!--      
          <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/students">STUDENTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">DASHBOARD</a>
            </li>
        </ul>
        -->
    </div>

    <div class="grid-item grid-item-right">
        <div id="login-container">
            <a id="login-button" href="/">Log Out</a>
        </div>
    </div>
</div>