<div class="grid">
    <div class="grid-item grid-item-left">
        <a href="/"><img id="site-logo" src="/images/PEAK-Logo-Black-Green.png" ></a>
    </div>
    <div class="grid-item grid-item-middle">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/students">STUDENTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/classes">REGISTRATION</a>
            </li>
        </ul>
    </div>
    <div class="grid-item grid-item-right">
        <div id="login-container">
            <button id="login-button" onClick="handleSignIn()">LOGIN</button>
        </div>
    </div>
</div>